.add-process-textarea-container {
    width: 100%;
    height: 200px;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
    background-color: var(--color-4);
}

.add-process textarea {
    height: 100%;
    padding-right: 10px;
    background-color: transparent;
    resize: none;
    line-height: 2;
}

.add-process textarea::-webkit-scrollbar {
    width: 6px;
}

.add-process textarea::-webkit-scrollbar-track {
    background: var(--color-3);
    border-radius: 3px;
}

.add-process textarea::-webkit-scrollbar-thumb {
    background: var(--color-2);
    border-radius: 3px;
}

.add-process .types {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.add-process .types .button {
    width: 110px;
}

.add-process .type-selected {
    background-color: var(--color-1);
    color: var(--color-4);
}
