.controller-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 20px;
    line-height: 1;
    background-color: var(--color-4);
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
}

.controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.loading-bar-container {
    position: relative;
    width: 1100px;
    height: 6px;
    border-radius: 3px;
    background-color: var(--color-3);
}

.loading-bar {
    position: absolute;
    display: none;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 6px;
    border-radius: 3px;
    background-color: var(--color-1);
}

.loading-bar--on {
    display: block;
    animation: loading 1.5s linear infinite;
}

.loading-bar--full {
    display: block;
    width: 1100px;
}

@keyframes loading {
    0% {left: 0;}
    100% {left: 1050px;}
}

.controller-container .process-type {
    margin-top: 10px;
    color: var(--color-2);
}

.process-execution {
    display: block;
    height: 14px;
    font-size: 14px;
}