.controller-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
    padding: 30px;
    border-radius: 30px;
    background-color: var(--color-4);
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
}

.controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-bar-container {
    position: relative;
    width: 1100px;
    height: 6px;
    border-radius: 3px;
    background-color: var(--color-3);
}

.status-bar {
    position: absolute;
    top: 50%; left: 0;
    transform: translateY(-50%);
    width: 0;
    height: 6px;
    border-radius: 3px;
    background-color: var(--color-1);
    transition: all 20s ease-out;
}

.status-bar--on {
    width: 1050px;
}