.console {
    width: 680px;
    height: 500px;
    padding: 30px 30px 95px 30px;
    background-color: var(--color-4);
    border-radius: 20px;
    box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.15);
}

.console .collumn-selectors-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.console .collumn-selectors {
    display: flex;
    gap: 5px;
}

.console .collumn-selected {
    background-color: var(--color-1);
    color: var(--color-4);
}

ol.console-display {
    position: relative;
    height: 100%;
    padding-right: 10px;
    list-style-position: inside;
    overflow: hidden scroll;
    line-height: 1.5;
}

.console-display .text {
    word-break: break-all;
    margin-bottom: 2%;
}

.console-display::-webkit-scrollbar {
    width: 6px;
}

.console-display::-webkit-scrollbar-track {
    background: var(--color-3);
    border-radius: 3px;
}

.console-display::-webkit-scrollbar-thumb {
    background: var(--color-2);
    border-radius: 3px;
}
