.blacklist-elements {
    height: 410px;
    padding-right: 10px;
    overflow: hidden auto;
}

.blacklist-elements::-webkit-scrollbar {
    width: 6px;
}

.blacklist-elements::-webkit-scrollbar-track {
    background: var(--color-3);
    border-radius: 3px;
}

.blacklist-elements::-webkit-scrollbar-thumb {
    background: var(--color-2);
    border-radius: 3px;
}

.blacklist-element {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 10px 0 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    background-color: var(--color-4);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
}

.blacklist-element .text {
    width: 210px;
    overflow-x: hidden;
}

.blacklist-element .icon {
    width: 40px;
    height: 40px;
    stroke-width: 1.1;
    color: var(--color-1);
    cursor: pointer;
}