.processes-history-container {
    display: flex;
    justify-content: space-between;
}

.processes-history {
    position: relative;
    width: 600px;
}

.processes-history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}