.progress-bar-container {
    width: 290px;
    height: 50px;
    margin: 0 auto;
}

.progress-bar {
    display: flex;
    align-items: center;
}

.progress-bar .step {
    position: relative;
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-4);
    line-height: 1;
}

.progress-bar .line {
    width: 100px;
    height: 1px;
    background-color: var(--color-3);
}

.progress-bar .text {
    display: grid;
    place-items: center;
    font-size: 16px;
    color: var(--color-1);
}

.progress-bar .caption {
    position: absolute;
    bottom: -20px; left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    white-space: nowrap;
}

.progress-bar .step-active,
.progress-bar .line-active{
    background-color: var(--color-1);
    color: var(--color-1);
}

.progress-bar .text-active {
    color: var(--color-4);
}