.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    margin-bottom: 94px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--color-4);
}

.logo span {
    display: block;
    width: 6px;
    height: 60px;
    margin: 0 20px;
    border-radius: 3px;
    background-color: var(--color-1);
}

nav ul {
    display: flex;
    align-items: center;
    height: 100%;
}

nav li {
    display: inline-block;
    margin-left: 60px;
    font-size: 24px;
    color: var(--color-1);
}

.switch-container {
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    border-radius: 15px;
    background-color: var(--color-1);
    font-size: 20px; 
    cursor: pointer;
}

.switch {
    position: absolute;
    top: 5px; left: 5px;
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-4);
    transition: all .3s ease;
}

.switch--on {left: 35px;}

.switch-icon {
    position: absolute;
    top: 5px; left: 5px;
    color: var(--color-4);
}