.reset-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset-password-email-form,
.reset-password-form {
    width: 460px;
}

.reset-password-container h1 {
    margin-bottom: 15px;
    text-align: center;
}

.reset-password-container .sub {
    width: 460px;
    text-align: center;
    margin-bottom: 40px;
}

.invalid-token {
    display: grid;
    place-items: center;
    width: 460px;
}

.invalid-token-icon {
    width: 110px;
    height: 110px;
    stroke-width: .5;
}

.invalid-token p {
    margin-top: 10px;
    text-align: center;
}